<div class="table-responsive">
  <table class="table table-striped cart-table">
    <thead>
    <th class="col-md-3"><%= t('cart.fields.title') %></th>

    <th class="col-md-2"><%= t('cart.fields.quantity') %></th>
    </thead>

    <tbody>
    <% items.each do |item| %>
       <tr>
         <td>
           <%= item.product.title %>
         </td>

         <td>
           <%= item.quantity %>
           <%= form_tag(simple_cart.cart_path( item.product.id), method: 'patch') do %>
              <%= number_field_tag('quantity['+item.id.to_s+']',item.quantity, {:min => 1, :max => 20, :class => 'form-control quantity'}) %>
              <%= button_tag(t('cart.update'), class: 'btn btn-default') %>
           <% end %>

         </td>


            <td>
              <%= form_tag(simple_cart.cart_item_path(item.product_type, item.product.id), method: 'delete', class: 'form-inline clearfix remove-product') do %>
                 <%= button_tag(t('cart.remove'), class: 'btn btn-warning') %>
              <% end %>
            </td>

       </tr>
    <% end %>

    <%=form_tag(simple_cart.cart_path,method:"delete") do %>
       <%= button_tag('Destroy_all')%>
    <% end %>
    </tbody>
  </table>
</div>